{% extends "base.html" %}

{% block content %}
<section id="section2">
    <div class="icon">
      <object data="{{ url_for('static', filename='smartbinicon.svg') }}" type="image/svg+xml">
      </object>
    </div>
    <div class="mp-logo">
      <object data="{{ url_for('static', filename='mp_logo.svg') }}" type="image/svg+xml">
      </object>
    </div>
  <!-- </div> -->
  <video id="background-video" autoplay loop muted>
    <source src="{{ url_for('static', filename='background2.mp4') }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</section>
{% endblock %}
